.contactList {
    display: flex;
    flex-wrap
    : wrap;
    justify-content: center;
  width: 450px;
  list-style: none;
  padding: 0px;
  margin: 0 auto 0 auto;
  padding-left: 0;
  /* margin-left: auto;
  margin-right: auto; */
}

.item{
    width: 400px;
    height: 40px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px  solid blue;
    border-radius: 15px;
    padding: 10px 10px;
    margin-bottom: 10px;
    /* padding-right: auto;
    padding-left: auto; */
}

.item:first-child{
    margin-top: 10px;

}
.itemBtn {
    display: block;
    height: 30px;
    padding: 8px 12px;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.number{
    display: block;
    margin-left: 10px;
    /* margin-right: auto; */
}